.drinks{
    margin: 4rem 0;
    padding: 4rem 2rem;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    gap: 3rem;
}

.column1{
    flex: 0 0 70%;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    gap: 15rem;
}
.column1-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.column1-left h5{
    font-weight: 400;
    font-family: 'Inter';
    margin-bottom: -7px; 
}
.main-drink{
    width: 30rem;
    height: 30rem;
    border: 0.3px solid #d6d3d1;
}
.main-drink img{
    width: 100%;
    height: 100%;
}
.small{
    display: flex;
    gap: 1rem;
}
.smaller-drinks{
    width: 5rem;
    height: 5rem;
    border: 1px solid #d6d3d1;
    display: flex;
}
.smaller-drinks img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all .2s;
    cursor: pointer;
}
.smaller-drinks img:hover{
    transform: scale(1.1);
    border: 1.5px solid #333;
}
.column1-right{
    display: flex;
    flex-direction: column;
}
.column1-right h4{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 2px; 
}
.price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    border-top: 0.3px solid #d6d3d1;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 0.3px solid #d6d3d1;
}
.price h3{
    font-size: 2.5rem;
}
.price h5{
    color: grey;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 2rem;
}
.price h6{
    background-color: #fb923c;
    color: #fff;
    font-weight: 300;
    padding: 0.2rem;
    border-radius: 5px;
}
.price span{
    margin-top: -4rem;
    font-weight: 400;
    color: #0ea5e9;
}

.found{
    margin-top: 10rem;
}
/* .column1-right button{ 
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #6366f1;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
} */
.column1-right button:hover{
    box-shadow: 0 5px 5px #333; 
}
.column1-right button:active{
    box-shadow: 0 2px 5px #333;
}
.below{
    display: flex;
    gap: 3rem;
}
.below-quantity{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.below-btn{
    padding: 0.8rem 5rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #6366f1;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}
.qty-btn{
    border: none;
    background-color: #333;
    color: #fff;
    padding: 1.4rem 1rem;
    /* padding-bottom: 0.3rem; */
    border-radius: 5px;
}
.below p{
    margin-top: 1rem;
    font-size: 1.4rem;
}

